// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
// Variables
@import "./variables.scss";

// Reset
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


// Layouts
.l-container {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.l-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--spacebetween {
        justify-content: space-between;
    }
    &--spacearound {
        justify-content: space-around;
    }
}

.l-col {
    display: flex;
    flex-direction: column;
    align-items: left;

}
.l-wrap {
    flex-wrap: wrap;
}

.h-align--stretch {
    align-self: stretch;
}


// Components
.c-link {
    text-decoration: none;
    color: inherit;
}
.c-btn {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;

    &:hover {
        cursor: pointer;
        transform: scale(.9);
    }
}
.c-cta {
    font-weight: 700;
    text-transform: uppercase;
}

// Helpers
.h-listReset {
    list-style: none;
}